In [1]:
import pandas as pd

In [2]:
#df = pd.read_csv('raw_data_geodatamine/education.csv', sep=';')
#df = pd.read_csv('raw_data_geodatamine/healthcare.csv', sep=';')
#df = pd.read_csv('raw_data_geodatamine/historic.csv', sep=';')
df = pd.read_csv('raw_data_geodatamine/shop.csv', sep=';')

In [3]:
df.head(5)

,X,Y,osm_id,type,name,brand,operator,wheelchair,opening_hours,level,...,profession_ref,wikidata,website,phone,email,facebook,address,com_insee,com_nom,last_update
0,4.844615,45.768534,node/10000691913,bank,La Banque Postale,La Banque Postale,NaN,NaN,NaN,NaN,...,NaN,Q3206431,NaN,NaN,NaN,NaN,NaN,69123,Lyon,2022-09-04
1,4.848469,45.771208,node/10000729225,bank,La Banque Postale,La Banque Postale,NaN,NaN,NaN,NaN,...,NaN,Q3206431,NaN,NaN,NaN,NaN,69 Rue Sully,69123,Lyon,2022-09-04
2,4.869203,45.736779,node/10000764234,bank,La Banque Postale,La Banque Postale,NaN,NaN,NaN,NaN,...,NaN,Q3206431,NaN,NaN,NaN,NaN,9 Place du 11 Novembre 1918,69123,Lyon,2022-09-05
3,4.877389,45.728576,node/10001895040,bank,La Banque Postale,La Banque Postale,NaN,NaN,NaN,NaN,...,NaN,Q3206431,NaN,NaN,NaN,NaN,101 Avenue Paul Santy,69123,Lyon,2022-09-05
4,4.870426,45.743550,node/10003153096,bank,La Banque Postale,La Banque Postale,NaN,NaN,NaN,NaN,...,NaN,Q3206431,NaN,NaN,NaN,NaN,5 Rue Antoine Lumière,69123,Lyon,2022-09-05

In [30]:
df.shape

(8967, 21)

In [31]:
#list_to_keep = ['X', 'Y', 'name', 'type']

In [32]:
df_filtered = df[['X', 'Y', 'name', 'type']]

In [33]:
df_filtered.head(5)

          X          Y               name  type
0  4.844615  45.768534  La Banque Postale  bank
1  4.848469  45.771208  La Banque Postale  bank
2  4.869203  45.736779  La Banque Postale  bank
3  4.877389  45.728576  La Banque Postale  bank
4  4.870426  45.743550  La Banque Postale  bank

In [34]:
df_filtered.shape

(8967, 4)

In [35]:
dict_to_rename = {'X': 'longitude', 'Y':'latitude', 'type':'category'}

In [36]:
df_renamed = df_filtered.rename(dict_to_rename, axis=1)

In [37]:
df_renamed.head()

   longitude   latitude               name category
0   4.844615  45.768534  La Banque Postale     bank
1   4.848469  45.771208  La Banque Postale     bank
2   4.869203  45.736779  La Banque Postale     bank
3   4.877389  45.728576  La Banque Postale     bank
4   4.870426  45.743550  La Banque Postale     bank

In [38]:
#df_renamed.to_csv('cleaned_geodatamine_data/cleaned_shop.csv')