In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('save_output_scraping/output_line_A.csv')
#df = pd.read_csv('save_output_scraping/output_line_A.csv')
#df = pd.read_csv('save_output_scraping/output_line_B.csv')
#df = pd.read_csv('save_output_scraping/output_line_C.csv')
#df = pd.read_csv('save_output_scraping/output_line_D.csv')
#df = pd.read_csv('save_output_scraping/output_tram_T1.csv')
#df = pd.read_csv('save_output_scraping/output_tram_T2.csv')
#df = pd.read_csv('save_output_scraping/output_tram_T3.csv')
#df = pd.read_csv('save_output_scraping/output_tram_T4.csv')
#df = pd.read_csv('save_output_scraping/output_tram_T5.csv')
#df = pd.read_csv('save_output_scraping/output_tram_T6.csv')

In [3]:
df.head(2)

,Unnamed: 0,name,link,line,city
0,0,Perrache,"http://maps.google.fr/?q=45.749554,4.826965",A,lyon
1,1,Ampère – Victor-Hugo,"http://maps.google.fr/?q=45.753161,4.829232",A,lyon

In [4]:
# Create clean longitude list and latitude list in order to
# clean data ready to use with each coordinate

df.drop(columns='Unnamed: 0', inplace=True)
#df.drop(columns='Unnamed: 0.1', inplace=True)

list_long = []
list_lat = []

for value in df['link']:
    #print(type(value))
    #value = value[-1]
    value_splitted = value.split('=')
    value_splitted = value_splitted[-1]
    value_splitted = value_splitted.split(',')
    latitude = value_splitted[0]
    list_lat.append(latitude)
    longitude = value_splitted[-1]
    list_long.append(longitude)

# Add columns to our dataset
df['longitude'] = list_long
df['latitude'] =  list_lat

In [5]:
df.head(2)

,name,link,line,city,longitude,latitude
0,Perrache,"http://maps.google.fr/?q=45.749554,4.826965",A,lyon,4.826965,45.749554
1,Ampère – Victor-Hugo,"http://maps.google.fr/?q=45.753161,4.829232",A,lyon,4.829232,45.753161

In [6]:
df_filtered = df[['longitude', 'latitude', 'name', 'line']]

In [7]:
df_filtered.head(2)

  longitude   latitude                  name line
0  4.826965  45.749554              Perrache    A
1  4.829232  45.753161  Ampère – Victor-Hugo    A

In [8]:
dict_to_rename = {'line':'category'}
df_renamed = df_filtered.rename(dict_to_rename, axis=1)

In [9]:
df_renamed.head(2)

  longitude   latitude                  name category
0  4.826965  45.749554              Perrache        A
1  4.829232  45.753161  Ampère – Victor-Hugo        A

In [10]:
df_renamed.replace(to_replace={'A':'station_metro_A'}, inplace=True)

In [11]:
df_renamed.head(15)

   longitude   latitude                           name      category
0   4.826965  45.749554                       Perrache  metro_line_A
1   4.829232  45.753161           Ampère – Victor-Hugo  metro_line_A
2   4.832928  45.757542                      Bellecour  metro_line_A
3   4.835816  45.763393                     Cordeliers  metro_line_A
4   4.836012  45.767785  Hôtel de Ville – Louis-Pradel  metro_line_A
5   4.844525  45.768771                           Foch  metro_line_A
6   4.853208  45.769572                        Masséna  metro_line_A
7   4.863397  45.770453     Charpennes – Charles-Hernu  metro_line_A
8   4.873660  45.770558      République – Villeurbanne  metro_line_A
9   4.882197  45.769029                    Gratte-Ciel  metro_line_A
10  4.889849  45.767617         Flachet – Alain Gilles  metro_line_A
11  4.900415  45.765661                         Cusset  metro_line_A
12  4.908764  45.764118  Laurent-Bonnevay – Astroballe  metro_line_A
13  4.921923  45.761230       Vaulx-en-Velin – La Soie  metro_line_A

In [145]:
# Output the new file (pleage check the name of the file)
#df.to_csv('to_concat/cleaned_metro_A.csv')