In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('to_concat/final_interest_dataframe.csv')

In [3]:
df.head(2)

   longitude   latitude            name      category
0   4.854419  45.746870  Crèche Blandan  kindergarten
1   4.869292  45.757747   L'Arc en ciel  kindergarten

In [4]:
df.shape

(10660, 4)

In [5]:
#df['category'].value_counts().to_csv('print_categories.csv')

In [6]:
list_to_keep = [
'school',
'pharmacy',
'bakery',
'supermarket',
'college',
'kindergarten',
'doctors',
'university',
'arret_tram_T1',
'arret_tram_T2',
'arret_tram_T3',
'arret_tram_T4',
'arret_tram_T5',
'arret_tram_T6',
'hospital',
'dentist',
'station_metro_A',
'station_metro_B',
'station_metro_C',
'station_metro_D',
'educational_institution',
'clinic',
'medical_supply',
'monument',
]

In [7]:
len(list_to_keep)

24

In [8]:
df_filtered = df[df['category'].isin(list_to_keep)]

In [9]:
df.shape

(10660, 4)

In [10]:
df_filtered.shape

(1589, 4)

In [15]:
df_filtered['category'].unique()

array(['kindergarten', 'school', 'college', 'university', 'doctors',
       'dentist', 'clinic', 'pharmacy', 'hospital', 'monument',
       'station_metro_A', 'station_metro_B', 'station_metro_C',
       'station_metro_D', 'bakery', 'supermarket',
       'educational_institution', 'medical_supply', 'arret_tram_T1',
       'arret_tram_T2', 'arret_tram_T3', 'arret_tram_T4', 'arret_tram_T5',
       'arret_tram_T6'], dtype=object)

In [12]:
df_filtered.head()

   longitude   latitude                                   name      category
0   4.854419  45.746870                         Crèche Blandan  kindergarten
1   4.869292  45.757747                          L'Arc en ciel  kindergarten
2   4.875646  45.733136                      Crèche André Roux  kindergarten
3   4.877659  45.735974                              La Fourmi        school
4   4.865730  45.756445  CREAD École d'Architecture Intérieure       college

In [13]:
df_filtered.to_csv('to_concat/final_interest_dataframe_filtered.csv', index=False)